/*#chile-clock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chile-date, #chile-time {

    display:flex;
    font-size: 3rem;
    background-color:darkcyan;
    color: white;
    margin: 0.5em;
    border-radius: 25px;
    padding: 1em;
}